*{
    margin: 0px;
    padding: 0px;
}
/* navigation styles */
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    
}
nav ul li{
    list-style:  none;
    padding:0 30px 0 0 ;
    font-size: 35px;

}
.nav_logo{
    height: 8vh;
}
header{
   background-image: url(./images/banner/banner3.png);
   height:auto
}
.banner_description{
    padding: 0 200px;
}
.banner_title{
    /* width: 525px;
height: 228px;
right: 881px;
top: 216px; */
    padding-bottom:50px ;
    /* margin-bottom:200px ; */
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;

color: #FFFFFF;
}
.banner_writings{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
padding-top: 50px;
/* margin-bottom:10px */

text-align: right;

color: #FFFFFF;
}
.banner_button{
    width: 160px;
    height: 64px;
    margin-left: 1325px;
    padding-top: 50px;
    padding-bottom: 220px;
}
.btn_Contact{
    

    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: right;
color: #005FAC;
}
/* failure section styles start here */
.failure_container{
    
}
.person_image{
    margin-right: 130px;
}
.failure_everything{
    display: flex;
     margin-left:  206px;
     margin-top: 131px;
     margin-right: 357px;
}
.failure_description{
    margin-top: 250px;
    /* margin-bottom:50px ; */
}


.failure_title{
    /* width: 50px */
    margin-bottom: 50px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 47px;
    
    /* Dark 01 */
    
    color: #151414;
}
.failure_para {
    width: 416px;
height: 104px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


/* Dark 02 */

color: #444343;
}
.failure_list{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    /* background:url('./images/check.png') left  no-repeat ; */
    /* list-style-image: url(./images/icons/youtube.png); */
    /* list-style position:centr */
}
.failure_list:before{
    content: '✓';
}
/* failure section styles end here */
/* plan section styles start here */
.plans_title{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
/* identical to box height */

text-align: center;

/* Dark 01 */

color: #151414;

}
.plans_title{
    margin-top: 50px;
}
.four_plans{
    display: flex;
    justify-content: center;
    /* width: 60%; */
/* height: 60px; */
align-items: center;
margin-left: 100px;
margin-top: 50px;
gap: 200px ;
}
.plan_items{
    mar
}
/* plan section styles end here */

/* positive mindset section styles start here  */

 .positive_mindset_container{
      width: 100%;
      height: 40vh;
    /* display: flex ;
    justify-content: center; */
    /* margin-top: 124px;   */
}
.positive_mindset_contents{
    margin-top: 124px; 
    margin-left: 100px;
    margin-right: 100px;
    height: 30vh;
    /* width: 800px; */
        background-image: url(./images/watch.png) , linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%) ;
        background-size: cover;
        background-blend-mode:overlay ;
        border-radius: 8px;
     }
     .positive_mindset_writings{
        width: 459px;
height: 182px;
margin-left:64px ;

        padding-top: 80px;
        /* row-gap: 50px; */
     }
     .positive_title{ 
        font-family: 'Work Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 47px;
    
    color: #FFFFFF;;
    }  
    .btn_Call{
        margin-top:  30px;
        font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #F15B22;
    }
    /*  */

/* .image_container{ */
    background-image: url('./images/watch.png');
}

    
/* width: 1140px;
height: 30vh;  */
    /* background-image:linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%)  ; */
    /* background-image: url(./images/banner/banner2.png); */
/* positive mindset section styles end  here */

/* footer section styles start  here  */
/* .footer_contents{
    background: #151414;
    display: flex;
    justify-content: center;
width: 1600px;
height: 577px;
left: 0px;
top: 2646.3px;
background: #151414; } */

footer{
    background: #151414;
     display: flex;
} 

/* Dark 01 */


.footer_icons{
    display: flex;
    /* justify-content: center; */
}
 

